<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Automator.DeviceEmulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Automator.DeviceEmulator.Properties.Settings>
            <setting name="ProcessName" serializeAs="String">
                <value>archeage</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>00:00:00.0100000</value>
            </setting>
            <setting name="FilterBySessionId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendKey_KeyDownUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendKey_Char" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendKey_Delay" serializeAs="String">
                <value>00:00:00.0100000</value>
            </setting>
            <setting name="ColorTolerance" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="KeysBlocks" serializeAs="String">
                <value />
            </setting>
            <setting name="BattleConditions" serializeAs="String">
                <value />
            </setting>
        </Automator.DeviceEmulator.Properties.Settings>
    </userSettings>
</configuration>